<!-- Header Component -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top custom-navbar" id="mainNavbar">
    <div class="container">
        <a class="navbar-brand fw-bold gradient-text" href="#home">
            <img src="assets/images/icons/logo.png" alt="Logo" width="30" height="30" class="me-2">
            DIỆP GIA BẢO
        </a>
        
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">Giới thiệu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Kỹ năng</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects">Dự án</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Liên hệ</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
